<ul class="list-group">
  <li class="list-group-item">English<a routerLink="/start_exam" class="btn btn-primary">Start Exam</a></li>
  <li class="list-group-item">Maths<a routerLink="/start_exam"  class="btn btn-primary">Start Exam</a></li>
  <li class="list-group-item">Science<a routerLink="/start_exam"  class="btn btn-primary">Start Exam</a></li>
  <li class="list-group-item">Hindi<a routerLink="/start_exam"  class="btn btn-primary">Start Exam</a></li>
  <li class="list-group-item">Social Science<a routerLink="/start_exam"  class="btn btn-primary">Start Exam</a></li>
</ul>
<a class="btn btn-primary mt-2" routerLink="/test_free_exam" >Test Free Exam Page</a>
